@colortab: #8030CA;

.margen(@arriba, @abajo) {
    margin-top: @arriba;
    margin-bottom: @abajo;
}

legend {
    text-align: center; }
  
  .jumbotron {
    background-image: url("banner.jpg");
    background-size: cover;
    color: white;
    .margen(56px, 5px);
    padding: 20px; 
}
  
  .btn-selecjuego {
    width: 100%;
    background-color: @colortab;
    color: white; }
  
  .footer {
    background-color: silver;
    color: black; }
  
  .colorbread {
    background-color: white; }
  
  .footer-icon-padd {
    padding-right: 10px; }
  
  .color-tab {
    background-color: @colortab; }
  
  .card-pad {
    margin-bottom: 10px;
    margin-right: 10px;
    }
  
  .card-dim {
    flex: 1 250px;
    padding: 0px 0px 2px 0px; }
  
  .btn-local-config {
    background-color: @colortab;
    color: white; }
  
  .auxpad {
    padding: 10px 0 20px 0; }
  
  .color-modal-press {
    background: #A576CF; }
  
  
  .color-btn-txtextra{
    background-color:  @colortab;
  }