legend {
  text-align: center;
}
.jumbotron {
  background-image: url("banner.jpg");
  background-size: cover;
  color: white;
  margin-top: 56px;
  margin-bottom: 5px;
  padding: 20px;
}
.btn-selecjuego {
  width: 100%;
  background-color: #8030CA;
  color: white;
}
.footer {
  background-color: silver;
  color: black;
}
.colorbread {
  background-color: white;
}
.footer-icon-padd {
  padding-right: 10px;
}
.color-tab {
  background-color: #8030CA;
}
.card-pad {
  margin-bottom: 10px;
  margin-right: 10px;
}
.card-dim {
  flex: 1 250px;
  padding: 0px 0px 2px 0px;
}
.btn-local-config {
  background-color: #8030CA;
  color: white;
}
.auxpad {
  padding: 10px 0 20px 0;
}
.color-modal-press {
  background: #A576CF;
}
.color-btn-txtextra {
  background-color: #8030CA;
}
