$colortab: #8030CA;
$colortab01: #ec2222;
$colortab02: #14ec00;

@mixin margen($arriba, $abajo, $colores,$pad) {
    margin-top: $arriba;
    margin-bottom: $abajo;
    color: $colores;
    padding: pad;
}

legend {
    text-align: center; }
  
  .jumbotron {
    background-image: url("banner.jpg");
    background-size: cover;
    @include margen(56px, 5px, white, 20px);
}
  
  .btn-selecjuego {
    width: 100%;
    background-color: $colortab;
    @include margen(inherit, inherit, white);
  }
  
  .footer {
    background-color: silver;
    color: black; }
  
  .colorbread {
    background-color: white; }
  
  .footer-icon-padd {
    padding-right: 10px; }
  
  .color-tab {
    background-color: $colortab; }
  
  .card-pad {
    @include margen(10px, 10px, inherit);
    }
  
  .card-dim {
    flex: 1 250px;
    padding: 0px 0px 2px 0px; }
  
  .btn-local-config {
    background-color: $colortab;
    color: white; }
  
  .auxpad {
    padding: 10px 0 20px 0; }
  
  .color-modal-press {
    background: #A576CF; }
  
  
  .color-btn-txtextra{
    background-color:  $colortab;
  }